@import '../../variables/style.scss';

.border-cl{
    border-color: #ff9500!important;
}
.border-active{
    border-color: #d2d2d2!important;
}

.content-login{
    width: 1062px;
    min-height: 450px;
    height: auto!important;
    float: left;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 40px 50px rgba(0,0,0,.3);
    .left-content{
        width: 530px;
        min-height: 734px;
        height: auto!important;
        border-radius: 5px;
        float: left;
        transition: display 800ms ease-out 5ms;
        .slide-info{
            .show{
                transition: display 800ms ease-out 5ms;
            }
            .fade1{
                animation: animateleft 1s;
            }
            @keyframes animateleft {
                0% {
                    left: -200px;
                    opacity: .1;
                }
                100% {
                    left: 0;
                    opacity: 1;
                }
            }
            .card-items{
                margin: 0 auto;
                width: 324px;
                margin-top: 103px;
                .card-img{
                    img{
                        width: 108%;
                        border-radius: 6px;
                        box-shadow: 10px 10px 33px 0 rgba(0,0,0,.15);
                    }
                }
                .card-info{
                    padding-left: 10px;
                    height: 200px;
                    h4{
                        color: #3e3e3e;
                        font-size: 20px;
                        margin: 25px 0px;
                        font-weight: 700;
                    }
                    p{
                        color: #9b9b9b;
                        margin: 16px 0px;
                        font-size: 17px;
                        line-height: 1.2;
                    }
                }
            }
            .fade1{
                position: relative;
            }
            .slide-page{
                margin-top: 33px;
                text-align: center;
                span{
                    margin-right: 5px;
                    .dot{
                        cursor: pointer;
                        height: 13px;
                        width: 13px;
                        margin: 0 2px;
                        color: rgba(175,168,168,.55);
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color .6s ease;
                    }
                    .active-dot{
                        color: $main_color;
                        border: none;
                    }
                }
                
            }
        }
    }
    .right-content{
        width: 530px;
        min-height: 675px;
        height: auto!important;
        padding-top: 60px;
        border-radius: 5px;
        background-color: #fff;
        float: right;
        box-shadow: -8px 3px 12px 4px rgba(0,0,0,.08);
        .login-form{
            float: left;
            width: 90%;
            padding-left: 40px;
            .header-text{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;
                .header-left{
                    color: black;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: SourceSansPro;
                }
                .header-right{
                    color: #000;
                    text-underline-position: under;
                    font-size: 17px;
                    a{
                        text-decoration-line: underline;
                        font-weight: 500;
                    }
                }
            }
            .qr-code-wrapper{
                float: left;
                width: 166px;
                height: 200px;
                background-image: url('https://online.unibank.az/ibank/resources/imgs/qr-loader.gif');
                background-size: 92px;
                background-position: 31px 30px;
                background-repeat: no-repeat;
                padding-left: 6px;
                text-align: center;
                .qr-img{
                    float: left;
                    margin-left: -17px;
                    width: 185px;
                    margin-top: 3px;
                }
            }
            .login-type-btns{
                float: left;
                width: 271px;
                padding-top: 16px;
                .type-active{
                    float: right;
                    border: 1px solid #fd9b00;
                    width: 249px;
                    border-radius: 5px;
                    padding: 20px 2px;
                    text-align: center;
                    margin-top: 11px;
                    cursor: pointer;
                    .by-fin{
                        margin: 0 auto;
                        width: 80%;
                        img{
                            float: left;
                        }
                        span{
                            float: left;
                            margin-left: 10px;
                            border-bottom: 1px solid #fd9b00;
                            padding-bottom: 2px;
                            color: #000;
                        }
                    }
                }
                .type{
                    text-align: center;
                    float: right;
                    border: 1px solid #d2d2d2;
                    width: 249px;
                    border-radius: 5px;
                    padding: 20px 2px;
                    margin-top: 11px;
                    cursor: pointer;
                    .by-asan{
                        margin: 0 auto;
                        width: 80%;
                        img{
                            float: left;
                        }
                        span{
                            float: left;
                            margin-left: 10px;
                            color: #000;
                        }
                    }
                }
            }
            .info-wrapper{
                display: flex;
                align-items: center;
                padding: 7px;
                font-size: 14px;
                color: gray;
                width: 100%;
                background: #f3f3f3;
                img{
                    padding-right: 12px;
                    opacity: .6;
                    cursor: pointer;
                }
            }
            .login-content{
                .login-inputs{
                    float: left;
                    width: 100%;
                    margin-top: 47px;
                    .group{
                        position: relative;
                        margin-bottom: 33px;
                        text-align: left;
                        .info-icon{
                            right: 15px;
                            opacity: .6;
                            cursor: pointer;
                        }
                        img{
                            top: 14px;
                            position: absolute;
                        }
                        input{
                            font-size: 18px;
                            padding: 10px 10px 10px 37px;
                            display: block;
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #d6d6d6;
                            color: #6f6f6f;
                            &:focus{
                                outline: none;
                            }
                            &:focus .bar::after{
                                width: 50%;
                                left: 50%;
                            }
                        }
                        .bar{
                            position: relative;
                            display: block;
                            width: 95%;
                            &::before{
                                content: '';
                                height: 2px;
                                width: 0;
                                bottom: 1px;
                                position: absolute;
                                background: #f47123;
                                -webkit-transition: .2s ease all;
                                left: 50%;
                            }
                            &::after{
                                content: '';
                                height: 2px;
                                width: 0;
                                bottom: 1px;
                                position: absolute;
                                background: #f47123;
                                -webkit-transition: .2s ease all;
                                right: 50%;
                            }
                            label{
                                top: -60px;
                                font-size: 14px;
                                color: #e28116;
                                font-weight: 400;
                                position: absolute;
                                pointer-events: none;
                                left: 25px;
                                -webkit-transition: .2s ease all;
                            }
                        }
                    }
                }
                .login-bottom-inputs{
                    float: left;
                    width: 100%;
                    height: 145px;
                    .code-type{
                        float: left;
                        width: 53%;
                        .group{
                            position: relative;
                            margin-bottom: 33px;
                            text-align: left;
                            .captcha{
                                opacity: .6;
                                cursor: pointer;
                            }
                            input{
                                font-size: 18px;
                                padding: 10px 10px 10px 80px;
                                display: block;
                                width: 90%;
                                border: none;
                                border-bottom: 1px solid #d6d6d6;
                                color: #6f6f6f;
                                &:focus{
                                    outline: none;
                                }
                            }
                            img{
                                top: 14px;
                                position: absolute;
                            }
                            .bar{
                                position: relative;
                                display: block;
                                width: 95%;
                            }
                            label{
                                top: -20px;
                                font-size: 14px;
                                color: #e28116;
                                font-weight: 400;
                                position: absolute;
                                pointer-events: none;
                                -webkit-transition: .2s ease all;
                                left: 75px!important;
                            }
                        }
                    }
                    .forgot-password{
                        float: right;
                        width: 45%;
                        height: 60px;
                        padding-top: 23px;
                        a{
                            float: right;
                            padding-right: 27px;
                            color: #7977a1;
                            text-decoration-line: underline;
                            font-size: 17px;
                        }
                    }
                    .input-btn{
                        background: $main_color;
                        text-align: right;
                        float: left;
                        width: 95%;
                        cursor: pointer;
                        border-radius: 5px;
                        input{
                            background: $main_color;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            text-align: left;
                            padding: 13px 72px 13px 22px;
                            color: #fff;
                            border-radius: 5px;
                            width: 86%;
                            font-size: 17px;
                            -webkit-appearance: none;
                        }
                        img{
                            float: right;
                            padding: 14px;
                        }
                    }
                }
            }
        }
    }
}


    