@import '../../variables/style.scss';
// @import '../AppBar/AppBar.scss';

.common-header{
    line-height: 18px;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}
.common-date{
    line-height: 12px;
    font-size: 12px;
    color: rgba(50,50,50,.5);
    margin-bottom: 30px;
}

.exchange{
    padding: 30px 0;
    .exchange_wrapper{
        h2{
            line-height: 28px;
                    font-weight: 800;
                    font-size: 28px;
                    color: $main_color;
                    margin: 0 0 20px;
        }
        overflow: hidden;
        padding: 40px 70px;
        background: $background_color;
        border-radius: 10px;
        .exchange_wrapper_cat{
            font-size: 15px;
            line-height: 15px;
            .exchange-box{
                position: relative;
                min-height: 1px;
                padding: 50px 40px 50px 0;
                .exchange-header{
                    @extend .common-header;
                }
                .exchange-date{
                    @extend .common-date;
                }
                .exchange-body{
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        border-spacing: 0;
                        thead{
                            font-size: 14px;
                            color: #ACB3B8;
                            line-height: 18px;
                            text-align: left;      
                            font-weight: 400;    
                            th{
                                border-bottom: 1px solid #D6D9DB;
                                padding-bottom: 11px;
                                width: 33.3333333%;
                                font-size: 12px;
                                font-weight: 400!important;                     
                            }             
                        }
                        
                        tbody{
                            line-height: 14px;
                            font-weight: 400;
                            font-size: 14px;
                            color: #000;
                            td{
                                width: 33.3333333%;
                                padding: 15px 0;
                                white-space: nowrap;
                                color: #323232;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
    .exchange-convertor{
        width: 100%;
        background: #fff;
        box-shadow: 0 10px 25px -10px rgba(0,0,0,.1);
        padding: 50px 30px;
        border-radius: 10px;
        .exchange-header-con{
            .exchange-header{
                @extend .common-header;
            }
            .exchange-date{
                @extend .common-date;
            }
        }
        .exchange-body-con{
            .e-calc-arrow{
                position: relative;
                margin-right: 0;
                &::after{
                    content: '';
                    display: inline-block;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: 485px 397px;
                    background-position: -415px -342px;
                    width: 25px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -47px;
                    z-index: 1;
                    background-image: url('https://unibank.az/assets/images/pico.png?v=3.11');
                }
            }
            .exchange-calc-left{
                overflow: hidden;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid rgba(50,50,50,.1);
                margin-bottom: 10px;
                width: 280px;
                margin-right: 70px;
                align-items: center;
                display: flex;
                position: relative;
                
                input{
                    border: none;
                    background: 0 0;
                    font-weight: 700;
                    font-size: 15px;
                    color: #000;
                    line-height: 47px;
                    width: 70%;
                    outline: 0;
                    &::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                .currency-select{
                    position: relative;
                    display: inline-block;
                    padding-right: 25px;
                    &::after{
                        position: absolute;
                        content: '';
                        display: inline-block;
                        top: 14px;
                        right: 0;
                        background-repeat: no-repeat;
                        background-size: 485px 397px;
                        background-position: -460px -312px;
                        width: 12px;
                        height: 5px;
                        background-image: url('https://unibank.az/assets/images/pico.png?v=3.11');
                    }
                    .select-currency{
                        z-index: 1;
                        border: none;
                        background: 0 0;
                        appearance: none;
                        padding-right: 12px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 47px;
                        color: #000;
                    }
                    .sc-display{
                        position: absolute;
                        border: 0!important;
                        clip: rect(0 0 0 0)!important;
                    }
                    .select-container{
                        box-sizing: border-box;
                        display: inline-block;
                        margin: 0;
                        position: relative;
                        vertical-align: middle;
                        width: 100%;
                        .selection{
                            border: none;
                            border-radius: 4px;
                            background-color: #fff;
                            box-sizing: border-box;
                            cursor: pointer;
                            display: block;
                            height: 28px;
                            user-select: none;
                            -webkit-user-select: none;
                            .selection_rendered{
                                color: #444;
                                line-height: 28px;
                                padding-right: 0;
                                display: block;
                                padding-left: 8px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                .exchange-flags{
                                    align-items: center;
                                    display: flex;
                                    .flag-region{
                                        width: 18px;
                                        height: 18px;
                                        display: inline-block;
                                        background-repeat: no-repeat;
                                        background-size: 100%;
                                        background-position: center;
                                        margin-right: 7px;
                                    }
                                    .flag-aze{
                                        background-image: url('https://unibank.az/assets/images/azn.png');
                                    }
                                    .flag-us{
                                        background-image: url('https://unibank.az/assets/images/usd.png');
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

@media (max-width: 991px){
    .exchange-header-con{
        padding-bottom: 20px;
    }
    .exchange-body-con{
        display: block!important;
        .exchange-calc-left{
            width: 100%!important;
        }
    }
   
}
@media (min-width: 992px) and (max-width: 1199px){
    .exchange-calc-left{
        margin-right: 10px!important;
    }
}

@media (max-width: 576px){
    .currency-select{
        padding-right: 0!important;
    }
    .exchange_wrapper{
        padding: 40px 30px!important;
    }
   
}
