@import '../../variables/style.scss';

.header--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .menu-left{
        float: left;
        .menubar-menu{
            padding: 30px 15px;
            float: left;
            a{
                font-size: 18px;
                line-height: 18px;
                font-weight: 700;
            }
        }
        .menu-first{
            padding-left: 0;
        }
    }
    .menu-right{
        display: flex;
        .basket{
            position: absolute;
            top: 3px;
            right: 12px;
        }
        .right-contact{
            i{
                color: $main_color;
                font-size: 18px;
                margin-right: 7px;
            }
        }
        .menubar-hotline{
            margin-right: 10px;
            display: inline-flex;
            align-items: center;
            border: 1px solid rgba(0,0,0,.1);
            font-weight: 600;
            height: 45px;
            padding: 8px 15px;
            font-size: 14px;
        }
        .right-ibanking{
            i{
                color: $main_color;
                font-size: 18px;
                margin-right: 7px;
            }
        }
        .rg-button{
            border-radius: 25px;
            box-sizing: border-box;  
            position: relative;  
        }
    }
}
@media (max-width: 1199px){
    .menubar-menu{
        padding: 30px 10px!important;
        a{
            font-size: 15px!important;
        }
    }
}

@media (max-width: 991px){
    .header--menu{
        display: none!important;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .right-ibanking{
        font-size: 11px!important;
    }
}