*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black
}

body{
    line-height: 15px;
    font-weight: 400;
    font-size: 15px;
    background-color: var(--body_background);
}

.dark{
    background-color: #000000!important;
    color: #fff!important;
}
.light{
    background-color: #fff!important;
    color: black!important;
}
#dark{
    background-color: #000000;
    color: #fff!important;
}
#light{
    background-color: #fff!important;
    color: black!important;
}
